Repository SentienceAPI/sentience-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=-1, prettier --write

fix tests
  src/tracing/tracer-factory.ts
  tests/actions.test.ts
  tests/browser.test.ts
  tests/conversational-agent.test.ts
  tests/generator.test.ts
  tests/inspector.test.ts
  tests/read.test.ts
  tests/recorder.test.ts
  tests/screenshot.test.ts
  tests/snapshot.test.ts
  tests/stealth.test.ts
  tests/test-utils.ts
  tests/video-recording.test.ts
Due: eslint --fix --max-warnings=-1, prettier --write

fix tests
  tests/agent.test.ts
Due: eslint --fix --max-warnings=-1, prettier --write

hook for redacting PII
  src/tracing/tracer-factory.ts
  src/tracing/tracer.ts
Due: eslint --fix --max-warnings=-1, prettier --write

fix test
  src/tracing/tracer.ts
Due: eslint --fix --max-warnings=-1, prettier --write

add device_scale_factor support
  src/browser.ts
Due: eslint --fix --max-warnings=-1, prettier --write

bump version
  package.json
Due: prettier --write

visual agent
  src/index.ts
  src/visual-agent.ts
Due: eslint --fix --max-warnings=-1, prettier --write

fix tests
  src/visual-agent.ts
Due: eslint --fix --max-warnings=-1, prettier --write

chore: sync extension files from sentience-chrome v2.1.0
  src/extension/background.js
  src/extension/content.js
  src/extension/injected_api.js
  src/extension/manifest.json
  src/extension/pkg/README.md
  src/extension/pkg/sentience_core_bg.wasm
  src/extension/release.json
  src/extension/test-content.js
Due: prettier --write

human like typing
  .prettierignore
  .prettierrc.json
  README.md
  src/actions.ts
  src/index.ts
  src/utils/browser.ts
  src/utils/llm-response-builder.ts
  src/utils/trace-file-manager.ts
  tests/actions.test.ts
  tests/mocks/browser-mock.ts
  tests/utils/action-executor.test.ts
  tests/utils/llm-response-builder.test.ts
Due: eslint --fix --max-warnings=-1, prettier --write

export async api
  package-lock.json
  src/utils/browser.ts
  src/utils/llm-response-builder.ts
  src/utils/trace-file-manager.ts
Due: eslint --fix --max-warnings=-1, prettier --write

chore: sync extension files from sentience-chrome v2.2.0
  latest_release.json
  src/extension/release.json
Due: prettier --write

canonicalize diff status
  src/canonicalization.ts
  src/snapshot-diff.ts
  src/tracing/indexer.ts
Due: eslint --fix --max-warnings=-1, prettier --write

ordinal support
  src/index.ts
  src/ordinal.ts
  src/types.ts
  tests/ordinal.test.ts
Due: eslint --fix --max-warnings=-1, prettier --write

fix none for dominant group key
  src/extension/background.js
  src/extension/content.js
  src/extension/injected_api.js
  src/extension/pkg/sentience_core.js
  src/extension/pkg/sentience_core_bg.wasm
  src/snapshot.ts
Due: eslint --fix --max-warnings=-1, prettier --write

new field in_dominant_group
  src/types.ts
Due: eslint --fix --max-warnings=-1, prettier --write

chore: sync extension files from sentience-chrome v2.3.0
  src/extension/background.js
  src/extension/content.js
  src/extension/injected_api.js
  src/extension/manifest.json
  src/extension/pkg/sentience_core.js
  src/extension/pkg/sentience_core_bg.wasm
  src/extension/release.json
Due: prettier --write

chore: sync extension files from sentience-chrome v2.4.0
  src/extension/injected_api.js
  src/extension/manifest.json
  src/extension/pkg/sentience_core_bg.wasm
  src/extension/release.json
Due: prettier --write

chore: sync extension files from sentience-chrome v2.4.0
  latest_release.json
  src/extension/release.json
Due: prettier --write

example for showing grid overlay
  examples/show-grid-examples.ts
  src/extension/manifest.json
  src/extension/pkg/sentience_core.js
  src/extension/pkg/sentience_core_bg.wasm
Due: eslint --fix --max-warnings=-1, prettier --write

fix test
  package-lock.json
  package.json
  src/snapshot.ts
Due: eslint --fix --max-warnings=-1, prettier --write

ensure extension is loaded
  .github/workflows/test.yml
  src/browser.ts
  src/snapshot.ts
  tests/actions.test.ts
  tests/test-utils.ts
Due: eslint --fix --max-warnings=-1, prettier --write

correction
  .github/workflows/test.yml
Due: none

P2 with mutation observer
  src/agent-runtime.ts
  src/llm-provider.ts
  src/snapshot.ts
  src/types.ts
  tests/agent-runtime-eventually.test.ts
Due: eslint --fix --max-warnings=-1, prettier --write

fix tests
  tests/actions.test.ts
  tests/browser.test.ts
  tests/snapshot.test.ts
  tests/video-recording.test.ts
Due: eslint --fix --max-warnings=-1, prettier --write

chore: sync extension files from sentience-chrome v2.5.0
  latest_release.json
  src/extension/release.json
Due: prettier --write

p2
  src/agent-runtime.ts
  src/failure-artifacts.ts
  tests/failure-artifacts.test.ts
Due: eslint --fix --max-warnings=-1, prettier --write

P3
  README.md
  src/failure-artifacts.ts
  tests/failure-artifacts.test.ts
Due: eslint --fix --max-warnings=-1, prettier --write

fix format issue
  src/failure-artifacts.ts
  tests/failure-artifacts.test.ts
Due: eslint --fix --max-warnings=-1, prettier --write

Path conditions:
  eslint --fix --max-warnings=-1: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
